@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700);

:root {
    --task-background-color: #262e4c;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.todo-list {
    width: 100%;
    max-width: 600px;
}

.todo-list header {
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 15px;
    background-color: #4f3fde;
    color: #fff;
    font-size: 1.3em;
}

.wrapper-list ul.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper-list ul.list li {
    position: relative;
    background-color: var(--task-background-color);
    color: #b1b2c9;
    display: flex;
    align-items: center;
    padding: 15px;
    transition: background-color 200ms ease;
}

.wrapper-list ul.list li.removed {
    animation: collapseItem 300ms ease;
}

.wrapper-list ul.list li.hidden {
    display: none;
}

.wrapper-list ul.list li:hover,
ul.list li:hover + .task-description {
    background-color: #323b5c;
}

.wrapper-list ul.list li:hover button.remove {
    opacity: 1;
}

.wrapper-list ul.list .check {
    position: relative;
    background-color: #404a6e;
    border-radius: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 200ms ease;
}

.wrapper-list ul.list .check:hover {
    background-color: #171d37;
}

.wrapper-list ul.list .done .check:after {
    position: absolute;
    top: -4px;
    left: -3px;
    display: block;
    font-size: 120%;
    content: '✅';
    color: rgb(0, 255, 0);
}

.wrapper-list ul.list .done .task {
    text-decoration: line-through;
    color: rgb(0, 218, 0);
}

.wrapper-list button.remove {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    outline: none;
    background-color: red;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 200ms ease;
}

.wrapper-list button.remove:after {
    content: 'X';
    font-size: 0.8rem;
    color: white;
    display: block;
}

.wrapper-list ul.list .task-description {
    background-color: var(--task-background-color);
    border-bottom: 1px solid #1c2340;
    padding: 5px 10px 10px 10px;
    transition: background-color 200ms ease;
}

.wrapper-list ul.list .task-description-input {
    resize: none;
    background-color: transparent;
    border: none;
    width: 100%;
    color: white;
    overflow: auto;
    outline: none;
    font-size: 12px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.todo-list footer {
    background-color: #171d37;
}

.todo-list footer input {
    background-color: #171d37;
    border: none;
    outline: none;
    width: 90%;
    padding: 20px;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: white;
}

.scroll-hide::-webkit-scrollbar {
    display: none;
}

@keyframes collapseItem {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(-90deg);
    }
}